<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unichat</title> 
    <% include ../partials/head %>
   
    <style >
    div.scroll {
  
    width: 100%;
    height: 270px;
    overflow-y: scroll;
}
    </style>
  </head>
<body>
  <!-- menu -->
<div id="menu">
<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">

    <a class="navbar-brand glyphicon glyphicon-eye-open" href="#"> Unichat</a>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">    
    
    </ul>
 
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>      
    </form>
 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <% if(user){%><%= user%><% } %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Settings</a></li>          
          <li><a href="#">Help</a></li>
          <li class="divider"></li>
          <li><a onclick="sessionClose()" href="/out"> <p class="glyphicon glyphicon-off"> Log out</p> </a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- end menu -->
  </div>

<div  class="row ">
  <div class="col-xs-4 col-md-offset-4">
    <kbd><% if(user){%><%= user%><% } %> What's on your mind?</kbd>
    <textarea id="msg_status" class="form-control" rows="1"></textarea>
    <p class="glyphicon glyphicon-camera"></p> 
    <p class="glyphicon glyphicon-link"></p>
    <button id="send_estatus" style="float:right"class="btn btn-primary">Post</button>
  </div>
</div>

<div id="content" class="row">

  </br>

     <!-- /.navbar-top-links -->
<div class="col-xs-2">
  <div class="panel panel-primary">           
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Users </div>
            <div class="panel-body">    
                 <div id="resp">
                  <table class='table'>
                    <% users.forEach(function(usr){%> 

                        <tr><td> <%= usr.name %></td> </tr>
                    <%}); %>
                  </table>

                 </div>      
            </div>   
     
</div>
</div>
  <div class="col-xs-3" style="position: fixed; bottom: 0px; right: -0px; background-color: transparent; z-index: 10000; float: right;">
            <div class="panel panel-default">
            <div onclick ="$('#nodechat').toggle()" class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> On</h3>
            </div>
            <div id="nodechat"class="panel-body scroll">
              
            </div>
            <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"> <span class="glyphicon glyphicon-tint"></span></span>
  <input id="dataUser" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
</div>
          </div>  


          <div class="btn-group" role="group" aria-label="...">
            <button id="sendData" type="button" class="btn btn-success">Send </button>
            <button id="clearData" type="button" class="btn btn-info">Clear</button>        
          </div>    
  </div>
  <div class="col-xs-6">  
    <div id="msg_events"></div>
    <h2>Loop</h2>
    
      <% msgs.forEach(function(msg,index) { %>
      <div id="<%= msg.user+index %>" class="panel panel-default">
          <div class="panel-body">
               <%= msg.msg %>  %>
          </div>
          <div class="panel-footer"> <p class="glyphicon glyphicon-pencil"></p>   <%= msg.user %> <p style="float:right "class="glyphicon glyphicon-remove" onclick="$('#<%= msg.user+index %>').hide()"></p> </div>
      </div>
      
      <% }); %>
        
             
    
    
  </div>
</div>
  

  
  
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $('#msg_status').click(function(){  
        $(this).attr('rows', '3');
    });

    $('#send_estatus').click(function(){          
       
       if($('#send_estatus').val() != ''){       
                    $.ajax({
                      method: "POST",
                      url: "/msg/insert",
                      data: { name: localStorage.getItem("user") , msg: $('#msg_status').val() }
                    })
                      .done(function( msg ) {
                        alert( "Data Saved "  );
                        $('#msg_estatus').val('');
                        $('#msg_estatus').attr('rows', '1');
                      });                      
    }

    });


    var socket = io(); // Inicializamos socketIO en el cliente
    socket.emit('name', localStorage.getItem("user"));
    
function sessionClose(){  
      localStorage.removeItem("user");      
}
    /*
    *
    *@Param msg :  select tabla logueados en  formato JSON
    */
    socket.on('clearuser', function (m) { });

    socket.on('infoUsers', function (msg) {

      var a=`<table class='table'>`;
                for (var i = msg.length - 1; i >= 0; i--) {
                    a += "<tr><td>"+msg[i].usuario +" </td></tr>";
                };

          a+=`</table>`;

          $("#resp").html(a);
      });
      socket.on('msg', function (msg) {

            $("#nodechat").html($("#nodechat").html()+"</br>"+msg);
            $("#nodechat").animate({scrollTop : $("#nodechat").height()},800 );


      });
      
      $('#sendData').click(function(){

        socket.emit('message',$('#dataUser').val()  );
        $('#dataUser').val('');
        return false;
      }); 
      $('#clearData').click(function(){
        $('#nodechat').html('');
        return false;
      }); 
     $("#dataUser").keyup(function(event){
          if(event.keyCode == 13 && $('#dataUser').val() != ""){

            socket.emit('message',$('#dataUser').val()  );
            $('#dataUser').val('');
            
            }
            return false;    
      });
     $("#msg_status").keyup(function(event){
          if(event.keyCode == 13 && $('#msg_status').val() != ""){

            socket.emit('message status',$('#msg_status').val()  );
            $('#msg_status').val('');
            
            }
            return false;    
      });
     
      
  </script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>