<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unichat</title> 
    <% include ../partials/head %>
   
    <style >
    div.scroll {
  
    width: 100%;
    height: 270px;
    overflow-y: scroll;
}
    </style>
  </head>
<body>
  <!-- menu -->
<div id="menu">
<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">

    <a class="navbar-brand glyphicon glyphicon-eye-open" href="#"> Unichat</a>
    
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">    
    
    </ul>
 
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="search" type="text" class="form-control" placeholder="Search">
         <div id="complete_search" style="position: absolute; background:white; border:12px; width:20%">   
        </div>
      </div>  
     
    </form>
 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <% if(user){%><%= user%><% } %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Settings</a></li>          
          <li><a href="#">Help</a></li>
          <li class="divider"></li>
          <li><a onclick="sessionClose()" href="/out"> <p class="glyphicon glyphicon-off"> Log out</p> </a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- end menu -->
  </div>

<div  class="row ">
  <div class="col-xs-4 col-md-offset-4">
    <kbd><% if(user){%><%= user%><% } %> What's on your mind?</kbd>
    <textarea id="msg_status" class="form-control" rows="1" style="resize:none"></textarea>
    <p class="glyphicon glyphicon-camera"></p> 
    <p class="glyphicon glyphicon-link"></p>
    <button id="send_status" style="float:right"class="btn btn-primary">Post</button>
  </div>
</div>

<div id="content" class="row">

  </br>

     <!-- /.navbar-top-links -->
<div class="col-xs-2">
  <div class="panel panel-primary">           
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Users </div>

            <div class="panel-body">    
                 <div id="resp">       
                          
                  <div class="list-group">
                    <% users.forEach(function(usr){%> 

                     <a href='#' onclick=speakTABLE('<%- usr.usuario %>') class='list-group-item'>
                              <%- usr.usuario %> 
                            <span class="glyphicon glyphicon-stop" style="color:green; float:rigth"></span>
                              
                       </a>
                    <%}); %>
                  </div>

                 </div>      
            </div>   
     
</div>
</div>
 
<div class="col-xs-3" style="position: fixed; bottom: -17px; right: -0px; background-color: transparent; z-index: 10000; float: right;">

            <div class="panel panel-default">
            <div onclick ="$('#nodechat').toggle()" class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-cog" style="float:right" ></span> Overview</h3>
            </div>
            <div id="nodechat"class="panel-body scroll">
              
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"> <span class="glyphicon glyphicon-tint"></span></span>
                <input id="dataUser" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
          </div>
          </div>  
</div>
<div class="col-xs-3" style="position: fixed; bottom: -17px;  right: 305px; float: right; z-index: 10000;">

            <div class="panel panel-default">
            <div onclick ="$('#nodechat-private').toggle()" class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-cog" style="float:right"></span><div  style="display: inline" id="nameUser">On</div>
              </h3>
            </div>
            <div id="nodechat-private"class="panel-body scroll">
              
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"> <span class="glyphicon glyphicon-tint"></span></span>
                <input id="dataUser-private-info" type="hidden"  >
                <input id="dataUser-private" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
          </div>
          </div>  
</div>


  <div class="col-xs-6">  
    <div id="msg_events"></div>
    <h2>Loop</h2>
    
      <% msgs.forEach(function(msg,index) { %>
      <div id="<%= msg.user+index %>" class="panel panel-default">
          <div class="panel-body">
               <%= msg.msg %>  %>
          </div>
          <div class="panel-footer">
          <p class="glyphicon glyphicon-pencil"></p>   <%= msg.user %> <p style="float:right "class="glyphicon glyphicon-remove" onclick="$('#<%= msg.user+index %>').hide()"></p> </div>
      </div>
      
      <% }); %>
        
             
    
    
  </div>
</div>
  

  
  
  <script src="js/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
   var socket = io(); // Inicializamos socketIO en el cliente
    socket.emit('name', localStorage.getItem("user"));

  function speakTABLE(user){

    $('#nameUser').text(" "+user);
    $('#dataUser-private-info').val(user);
  }
  $('#complete_search').hide();

   $('#search').keyup(function(){  

        if($('#search').val().length > 1){
          

        $('#complete_search').show(1000);
        $('#complete_search').html("<img src='img/loading.gif'>");

                    $.ajax({
                      method: "POST",
                      url: "/users/search",
                      data: { data: $('#search').val() }
                    })
                      .done(function( msg ) {
                        
                        $('#complete_search').html(msg);

                      });                        

        }
        if($('#search').val().length <=1){
                        $('#complete_search').hide();

        }

    });
    $('#msg_status').click(function(){  
        $(this).attr('rows', '3');
    });

    $('#send_status').click(function(){          
  
       if($('#msg_status').val() != ''){      
       
                    $.ajax({
                      method: "POST",
                      url: "/msg/insert",
                      data: { name: localStorage.getItem("user") , msg: $('#msg_status').val() }
                    })
                      .done(function( msg ) {
                        
                        $('#msg_status').val('');
                        $('#msg_status').attr('rows', '1');
                      });                      
    }

    });


   
    
function sessionClose(){  
      localStorage.removeItem("user");      
}
    /*
    *
    *@Param msg :  select tabla logueados en  formato JSON
    */
    socket.on('clearuser', function (m) { });

    socket.on('infoUsers', function (msg) {

      var html_table=` <div class="list-group">`;
                for (var i = msg.length - 1; i >= 0; i--) {

                    html_table += "<a href='#' onclick=speakTABLE('"+msg[i].usuario+"')  class='list-group-item'>"+msg[i].usuario +'<span class="glyphicon glyphicon-stop" style="color:green; position:relative;float: right;"></span> </a>';
                };

          html_table+=`</div>`;

          $("#resp").html(html_table);
      });
      socket.on('msg', function (msg) {

            $("#nodechat").html($("#nodechat").html()+"</br>"+msg);
            $("#nodechat").animate({scrollTop : $("#nodechat").height()},800 );


      });

      socket.on('msg-private', function (msg) {

            $("#nodechat-private").html($("#nodechat-private").html()+"</br>"+msg.msg);
            $("#dataUser-private-info").val(msg.user);
            $("#nodechat-private").animate({scrollTop : $("#nodechat-private").height()},800 );


      });
        socket.on('msg-private-me', function (msg) {

            $("#nodechat-private").html($("#nodechat-private").html()+"</br>"+msg);            
            $("#nodechat-private").animate({scrollTop : $("#nodechat-private").height()},800 );


      });
      
      $('#sendData').click(function(){

        socket.emit('message',$('#dataUser').val()  );
        $('#dataUser').val('');
        return false;
      }); 
      $('#clearData').click(function(){
        $('#nodechat').html('');
        return false;
      }); 
     $("#dataUser").keyup(function(event){
          if(event.keyCode == 13 && $('#dataUser').val() != ""){

            socket.emit('message',$('#dataUser').val()  );
            $('#dataUser').val('');
            
            }
            return false;    
      });
$("#dataUser-private").keyup(function(event){
  
          if(event.keyCode == 13 && $('#dataUser-private').val() != "" ){

            if($('#dataUser-private-info').val()!=""){

                  socket.emit('message-private',{msg: $('#dataUser-private').val(), user : $('#dataUser-private-info').val() });

                  $('#dataUser-private').val('');
                  
            }else{ alert("elige a un amigo para chatear xD"); return true;}
          }
            return false;    
});

     $("#msg_status").keyup(function(event){
          if(event.keyCode == 13 && $('#msg_status').val() != ""){

            socket.emit('message status',$('#msg_status').val()  );
            $('#msg_status').val('');
            
            }
            return false;    
      });
     
      
  </script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>